<div style="display: -webkit-box; display: -webkit-inline-box;">
    <div>
        <img src="{{ this.method.getStoreIconURL() }}" alt="{{ this.method.getTitle() }}" title="{{ this.method.getTitle() }}" style="max-height: 40px; padding-right: 10px;">
    </div>
</div>
